header {
  background-color: pink;
}

.navbar {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-weight: 100;
}

.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.nav-branding{
  font-size: 2rem;
}

@media(max-width:768px) {

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

.little {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    font-style: italic;
    color: black;
    padding-bottom: 0%;
    padding-right: 20%;
}

.lw {
    font-size: 40px;
    text-align: center;
    margin-top: 400px;
    padding: 10px;
    padding-top: -30%;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 10%;
    margin: 0;
}

#section {
  padding-left: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  margin-right: 10px;
  color: black;
}

#section > h2 {
  color: #407088;
  padding: 40px;
  margin-top: 10px;
  text-align: center;
}

.searchbar {
  text-align: center;
  padding-top: 50px;
}

.form-container {
  text-align: center;
  margin: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

margarita-cards {
  display: flex;
  grid-template-columns: repeat(auto-fill), minmax(150px, 1fr);
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 1.5rem;
}

.card > .ingredients {
  margin-bottom: .25rem;
  font-display: bold;
  font-size: 30px;
}

.card > .recipe { 
  font-size: .8rem;
  font-size: 20px;
}

.hide {
  display: none;
}

.column {
  float: left;
  width: 40%;
  padding: 55px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  margin-left: 100px;
}